body{
    background:#060635;
}
.container-fluid{
    background:#060635;
    height: 100vh;
}
.chat-container{
    margin-bottom: 20px;
}

.containerMain{
    width: 500px;
    border-radius: 0px 0px 5px 5px;
    border:1px solid lightgray;
    margin-top: 0px;
    font-family:sans-serif;
    margin-left:200px;
    padding: 10px;
}
#signOut{
    margin-top: 20px;
}
.friend-list{
    padding-top: 0px;
    height: 500px; 
    overflow-x: hidden;
}
.friend-box{
    color: #ffffff;
    background: rgba(7, 108, 155, 0.466);
    padding: 10px;
}
.friend-header{
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-top: 1px solid inherit;
    border-radius: 5px 5px 0px 0px;
}
.available-friends{
    margin-top: 1px;
}
.available-friends:hover{
    background: rgba(5, 78, 112, 0.466);
}
.friend-name{
    font-family: sans-serif;
    font-size: 20px;
    /* font-weight: bold;     */
    margin-left: 10px;
}
.profile-photo img{
    height: 40px;
    width: 40px;
    border: 0.5px solid rgba(0, 0, 0, 0.356);
    border-radius: 50px;
}
.chat-photo img{
    height: 40px;
    width: 40px;
    border: 0.5px solid rgba(0, 0, 0, 0.356);
    border-radius: 50px;
}
.chat-name{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;    
    margin-left: 10px;
    color: #ffffff;

}
.chat-header{
    margin-top: 10px;
    padding: 10px;
    width: 500px;
    background: rgba(7, 108, 155, 0.288);
    margin-left:200px;
    border: 1px solid  lightgray;
    border-bottom: none;    
    border-radius: 5px 5px 0px 0px;
    

}
span.name{
   font-family: sans-serif;
   font-size: 15px;
   font-weight: bold;
}
.chatLogs{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: content-box;
}

#chatBox{
    overflow-x: hidden;
    height: 440px;
    margin-bottom: 4px;
}
.containerLogin{
    width: 380px;
    height: 340px;
    margin-top: 145px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 70px;
    margin-left: 492px; 
}
.chat-form{
    display: flex;
    flex-flow: row;
}
#send img{
    width: 26px;
    height: 28px;
    margin-left: 2px;
}
.chat-form #send{
        
        border: none;
        border-radius: 50%;
        background-color: rgb(6, 131, 68);
        color: #ffffff;
        margin-left: 5px;
}
.chat-form #comment{
        padding: 9px;
        width: 450px;
        height: 40px;;
        border-radius: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.chat-form #send:hover{
    background: rgb(3, 80, 42);;
    transition: 1s;

}
.chat-form #send:focus{
    outline: none;

}
.chat{
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
}
.self{
    background: rgba(100, 97, 97, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffffd8;
}
.self span.time{
    color: rgb(197, 201, 206);
}
.self span.name{
    font-size: 16px;
    font-weight: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.friend{
    background: rgba(7, 72, 124, 0.288);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffffd8;
    order: -1;
}
.friend span.time{
    color: rgb(155, 163, 173);
}
.friend span.name{
    font-size: 16px;
    font-weight: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
span.comment{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: rgb(230, 223, 223);
}
.chat-form textarea{
    resize: none;
}

.chat-form{
    height: 40px;
}
.sign{
    margin-left: 40px;
    margin-top: 30px;
}
